<div class="conatiner pt-4 pb-5 d-flex justify-content-center">
    <div class="col d-flex justify-content-center
    p-3 mb-2  text-primary
    border border-primary" style=" background-color: rgba(223, 221, 221, 0.812); max-width:400px;">
    
    
   <form >
    <div class="row text-center fs-3"><p>
        Log in
    </p></div>
   
   <label class="row  fs-4 pb-3" for="emali">Email</label>
    <input  class="row border border-primary p-3" type="text" placeholder="example@some.com"id="email">
    <label class="row pb-3 fs-4"for="password">Password</label>
    <input class="row  border border-primary p-3" type="text" placeholder="********" id="password">
    <button class="row mt-4 p-3 btn btn-outline-primary" type="submit">login in </button>
   
    
   
   </form>
    
    
    
    
    
    </div>


</div>
